@import url('https://fonts.googleapis.com/css?family=Fira+sans');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    font-family: 'Fira Sans', monospace;
    font-size: small;
    background-color: rgba(0, 0, 0, 0);
    color: #dddddd;
}

h1 {
    text-align: center;
}

#chart-info > span {
    font-family: 'Inter', sans-serif;
    display: block;
}

.options-container {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    

.options-container > div {
    border: 1px solid #dddddd;
    box-shadow: 0px 0px #131b23;
}

a:link {
    color: #d27117;
}

a:visited {
    color: #deac17;
}

a:hover {
    color: #fff389;
}

/* .main-container {
    margin-bottom: 30px;
    padding: 25px 50px;
    border: 1px solid #dddddd;
    box-shadow: 15px 15px #131b23;
} */

.container {
    width: 100vw;
    height: 100vw;
    margin-left: 0vh;
    margin-right: 0vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

#tv-chart-1 {
    border: 1px dashed #dddddd;
    box-shadow: 0px px #131b23;
    z-index: 9;
}

button {
    border: None;
    color: #dddddd;
    background-color: #ffffff05;
    font-family: 'Fira Sans', monospace;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px #131b23;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff20;
}

button:active {
    background-color: #00000005;
}